#conteneur1 {
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

#conteneur2 {
    border: 1px solid rgb(8, 7, 7);
    width: 100%;
    height: 30%;
    display: flex;
}

#photo1 {
    width: 100%;
    height: 50%;
}

#conteneur3{
    border: 2px;
    width:50%;
    height: 30%;
    display: flex;
    justify-content: space-between;

}


#conteneur4{
    border: 1px solid rgb(225, 42, 42);
    width: 20%;
    height: 50px;
    display: flex;
    
}
