body {
    margin: auto;
}

#main-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    box-shadow: 0 0 10px 10px grey;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: "Audiowide", sans-serif;
    color: rgb(242, 242, 242);
    justify-content: center;
}

#conteneure2 {
    border-radius: 2px;
    color: rgb(15, 14, 14);
    width: 80%;
    display: flex;
}
#conteneur2 img{
    border-radius: 20px;
}


#conteneur3 {
   padding: auto;
    margin: auto;
    text-align: auto;
    width: 100%;
    height: 30%;
    display:flex;
    justify-content:space-between;
    

}


#conteneur4 {
    display: flex;
    justify-content: space-between;
    height: px;
    width: 100%;
    border: radius 2px;
    margin: auto;


}
#conteneur4 img{
    border-radius: 20px;
}

#conteneur5 {
    border: 2px;
    height: 20%;
    width: 100%;
    color: rgb(247, 22, 22);
    font-family:"Audiowide", sans-serif;
    display: flex;
    justify-content: space-between;

}

#Menu {
    border: 2px;
    display: flex;
    justify-content: space-between;
}

#Lastpage {
  
}
#Lastpage img{
    border-radius: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }

#btn {
    height: 20px !important;
}

#menu {
    color: black;
}


p {
    color: rgb(5, 5, 5);
}
h6{
    color: aliceblue;
}

h4 {
    color: rgb(253, 253, 253);
    font-family: "Audiowide", sans-serif;
}

footer{
    
    box-shadow: 0 0 10px 10px grey;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer h6, footer h4 {
    color: black;
}


